{% extends "blog/base.html" %}

{% block content %}
	<div class="row justify-content-md-center">
		<div class="col col-md-2">
			<nav class="navbar-nav">
				<div class="list-group list-group-flush">
					
					{% if user.is_authenticated %}
						<a class="list-group-item
							  list-group-item-action
							  list-group-item-dark" href="{% url 'catalog:my-borrowed' %}">My Borrowed</a>
					{% endif %}
					{% if perms.catalog.can_mark_returned %}
					<a class="list-group-item
						  list-group-item-action
						  list-group-item-dark" href="{% url 'catalog:book_create' %}">Create Book</a>
					{% endif %}
					<a class="list-group-item
						  list-group-item-action
						  list-group-item-dark" href="{% url 'catalog:books' %}">All books</a>
					<a class="list-group-item
						  list-group-item-action
						  list-group-item-dark" href="{% url 'catalog:authors' %}">All authors</a>
				</div>
			</nav></div>
			<div class="col-5">
	<h1 class="display-4">Book List</h1>

	{% if book_list %}
	<ul>
		{% for book in book_list %}
		<li>
			<a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
			{% if perms.catalog.can_mark_returned %}
			<a class="badge badge-success" href="{% url 'catalog:book_update' pk=book.pk %}">Edit</a>
			<a class="badge badge-danger" href="{% url 'catalog:book_delete' pk=book.pk %}">Delete</a>
			{% endif %}
		</li>
		{% endfor %}


	</ul>
	{% else %}
		<p>There are no books in the library.</p>
	{% endif %}
			</div>
			<div class="col"></div>
	</div>
{% endblock %}
